@font-face {
  font-family: "Text Regular";
  src: url("Text.woff2") format("woff2");
}

@font-face {
  font-family: "Anti Bold";
  src: url("AntiBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Anti Regular";
  src: url("AntiRegular.woff2") format("woff2");
  font-weight: 500;
}
