@font-face {
  font-family: "Text Regular";
  src: url("Text.woff2") format("woff2");
}

@font-face {
  font-family: "Anti Bold";
  src: url("AntiBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Anti Medium";
  src: url("AntiMedium.woff2") format("woff2");
  font-weight: 500;
}
